# Movie Hub Configuration Example
# Copy this to .env (not for production) and set values in Vercel/GitHub

MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/moviehub
TELEGRAM_BOT_TOKEN=12345:ABCDE
TELEGRAM_API_ID=12345
TELEGRAM_API_HASH=abcdef12345
# A secret string of your choice to protect your API. 
# You will also need to set this same value in script.js (CONFIG.API_KEY).
MOVIEHUB_API_KEY=greenmovies

# String Session for Userbot (to overcome Bot API history restrictions)
# Run `python generate_session.py` to get this value
TELEGRAM_STRING_SESSION=
